#!/bin/bash

################################################################################
# Source all the funcers
################################################################################
BASH_HOME="/ALL/bash"
for FILE in $(ls -a $BASH_HOME/.func/.func_*) ; do
  . $FILE
done
